<div class='create-page'>
  <div class='create-title'>
    <h1>Criar Produto</h1>
  </div>

  <form action='' class='create-form' method='POST'>

    <label for='name'>Nome: </label>
    <input type='text' name='name' />
    <label for='price'>Preço: </label>
    <input type='text' name='price' />
    <label for='description'>Descrição: </label>
    <input type='text' name='description' />
    <label for='category'>Categoria: </label>
    <input type='text' name='category' />

    <input type='submit' class='btn' value='Criar' />
  </form>

</div>